<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Peticiones, Quejas, Reclamos o Felicitaciones</title>
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">

  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
         [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Peticiones, Quejas, Reclamos o Felicitaciones</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li class="active">Peticiones, Quejas, Reclamos o Felicitaciones</li>

          </ul>
        </div>
      </section>
      <!-- Mailform-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 justify-content-between">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Información de Contacto</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <ul class="contact-box">
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                          <div class="unit-body"><a class="hover-text" href="https://www.google.com/maps/place/Avia+Corredores+de+Seguros/@4.6023935,-74.0669745,15.99z/data=!4m6!3m5!1s0x8e3f99d955555555:0xf3dadb117c7c7730!8m2!3d4.6046697!4d-74.0689767!16s%2Fg%2F11hzrf0hjs" target="_blank">Bogotá, <br class="veil reveal-lg-inline">Calle 20 # 4 – 55 Piso 3.

Colombia</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                          <div class="unit-body">
                            <ul class="list-phones">
                              <li><a class="hover-text" href="tel:+576015877120">+(571) 587 7120</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                          <div class="unit-body"><a class="hover-text" href="mailto:#">info@aviaseguros.com</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                
                
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-8">
              <h4>Formulario de Contacto</h4>
              <p>Por favor diligencie el siguiente formulario; su opinión es muy importante para nosotros. Los campos marcados con (*) son obligatorios.</p>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name">Nombres y Apellidos</label>
                </div>
                  <div class="form-wrap">
                  <input class="form-input" id="contact-telephone" type="phone" name="telephone" data-constraints="@Required">
                  <label class="form-label" for="contact-telephone">Teléfonos: (fijo ó celular)</label>
                </div>
                <div class="form-wrap">
                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-email">Correo electrónico</label>
                </div>
                <div class="form-wrap">
                  <label class="form-label" for="contact-message">Mensaje</label>
                  <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                </div>
                <button class="button button-primary" type="submit">Enviar Formulario</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>