<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>[TITULO]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
       [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Información Financiera</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Acerca de Nosotros  </a></li>
            <li class="active">Información Financiera</li>
          </ul>
        </div>
      </section>
  
    <section class="section section-lg bg-default">
        <div class="container">
          <h2>Estados financieros Año 2022</h2>
          <div class="row row-offset-1">
            <div class="col-lg-10 col-xxl-9">
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-striped table-custom-primary">
                  <thead>
                    <tr>
                      <th>Informe</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>NOTAS AVIA SEGUROS DICIEMBRE 2022</td>
                      <td><a href="./Estados-Financieros/2022/NOTAS-AVIA-SEGUROS-DICIEMBRE-2022.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Estados financieros 2022</td>
                      <td><a href="./Estados-Financieros/2022/ESTADOS-FINANCIEROS-AVIA-CORREDORES-DE-SEGUROS-DICIEMBRE-2022.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Revisoría Fiscal 2022</td>
                      <td><a href="./Estados-Financieros/2022/revisoria-fiscal.pdf" target="_blank">Descargar</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="section section-lg bg-default">
        <div class="container">
          <h2>Estados financieros Año 2021</h2>
          <div class="row row-offset-1">
            <div class="col-lg-10 col-xxl-9">
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-striped table-custom-primary">
                  <thead>
                    <tr>
                      <th>Informe</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>DICTAMEN DEL REVISOR FISCAL 2021</td>
                      <td><a href="./Estados-Financieros/2021/DICTAMEN-DEL-REVISOR-FISCAL-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>ESTADO DE CAMBIOS EN EL PATRIMONIO 2021</td>
                      <td><a href="./Estados-Financieros/2021/ESTADO-DE-CAMBIOS-EN-EL-PATRIMONIO-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>ESTADO DE FLUJO DE EFECTIVO 2021</td>
                      <td><a href="./Estados-Financieros/2021/ESTADO-DE-FLUJO-DE-EFECTIVO-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>ESTADO DE RESULTADOS 2021</td>
                      <td><a href="./Estados-Financieros/2021/ESTADO-DE-RESULTADOS-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>ESTADO DE SITUACION FINANCIERA 2021</td>
                      <td><a href="./Estados-Financieros/2021/ESTADO-DE-SITUACION-FINANCIERA-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>LISTADO CIUDADES POR TIPO DESTINO Y ZONA</td>
                      <td><a href="./Estados-Financieros/2021/LISTADO-CIUDADES-POR-TIPO-DESTINO-Y-ZONA.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>NOTAS AVIA SEGUROS DICIEMBRE 2021</td>
                      <td><a href="./Estados-Financieros/2021/NOTAS-AVIA-SEGUROS-DICIEMBRE-2021.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>TARIFAS AVIAEXPRESS CORREO NACIONAL 2022</td>
                      <td><a href="./Estados-Financieros/2021/TARIFAS-AVIAEXPRESS-CORREO-NACIONAL-2022.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>NOTAS AVIA SEGUROS DICIEMBRE 2021 ACTA ASAMBLEA</td>
                      <td><a href="./Estados-Financieros/2021/12-NOTAS-AVIA-SEGUROS-DICIEMBRE-2021-ACTA-ASAMBLEA.docx" target="_blank">Descargar</a></td>
                    </tr>
                  </tbody>
                  <!--<tfoot>
                    <tr>
                      <td>Cambios en la situación Financiera</td>
                      <td>Descargar</td>
                    </tr>
                  </tfoot>
                -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-default">
        <div class="container">
          <h2>Estados financieros Año 2020</h2>
          <div class="row row-offset-1">
            <div class="col-lg-10 col-xxl-9">
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-striped table-custom-primary">
                  <thead>
                    <tr>
                      <th>Informe</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Estados financieros 2020</td>
                      <td><a href="./Estados-Financieros/2020/estado-de-resultados-2020.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Notas a los estados financieros 2020</td>
                      <td><a href="./Estados-Financieros/2020/notas-aviaseguros-2020.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Estado de Cambios en el Patrimonio</td>
                      <td><a href="./Estados-Financieros/2020/estado-decambios-patrimonio.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Dictamenen Intermedio</td>
                      <td><a href="./Estados-Financieros/2020/dictamen-intermedio.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>Estado de Situación Financiera</td>
                      <td><a href="./Estados-Financieros/2020/estado-situacion-financiera-2020.pdf" target="_blank">Descargar</a></td>
                    </tr>
                     <tr>
                      <td>Flujo de Efectivo</td>
                      <td><a href="./Estados-Financieros/2020/flujo-de-efectivo-2020.pdf" target="_blank">Descargar</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                   
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-lg bg-default">
        <div class="container">
          <h2>Estados financieros Año 2019</h2>
          <div class="row row-offset-1">
            <div class="col-lg-10 col-xxl-9">
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-striped table-custom-primary">
                  <thead>
                    <tr>
                      <th>Informe</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Estados financieros 2019</td>
                      <td><a href="./Estados-Financieros/2019/estados-financieros-2019.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Notas a los estados financieros 2019</td>
                     <td><a href="./Estados-Financieros/2019/notas-aviaseguros-2019.docx" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Dictamenes 1</td>
                      <td><a href="./Estados-Financieros/2019/dictamenes-1.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Dictamenes 2</td>
                      <td><a href="./Estados-Financieros/2019/dictamenes-2.pdf" target="_blank">Descargar</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-lg bg-default">
        <div class="container">
          <h2>Estados financieros Año 2018</h2>
          <div class="row row-offset-1">
            <div class="col-lg-10 col-xxl-9">
              <div class="table-custom-responsive">
                <table class="table-custom table-custom-striped table-custom-primary">
                  <thead>
                    <tr>
                      <th>Informe</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Estados financieros 2018</td>
                      <td><a href="./Estados-Financieros/2018/estados_financieros_2018.pdf" target="_blank">Descargar</a></td>
                    </tr>
                    <tr>
                      <td>Notas a los estados financieros 2018</td>
                     <td><a href="./Estados-Financieros/2018/notas_2018.docx" target="_blank">Descargar</a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>