<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>[TITULO]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Preguntas Frecuentes</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.php">Home</a></li>
            <li><a href="#">Información General</a></li>
            <li class="active">Preguntas Frecuentes</li>
          </ul>
        </div>
      </section>
      <!-- Tabs-->
      <!-- Accordion-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-12">
              <h1>Generales</h1>
              <!-- Bootstrap collapse-->
              <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading1" role="tab">
                    <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse1" aria-controls="accordion1Collapse1" aria-expanded="true">¿Cuánto dura mi contrato o programa de seguros?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse show" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1">
                    <div class="card-body">
                      <p>Generalmente, la póliza de seguros tiene una vigencia de un año a excepción de las pólizas de cumplimiento que se rigen de acuerdo a las condiciones, términos y vigencias del contrato.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading2" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse2" aria-controls="accordion1Collapse2">¿Cuáles son los plazos establecidos para la renovación, prórroga de mi seguro?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse2" role="tabpanel" aria-labelledby="accordion1Heading2">
                    <div class="card-body">
                      <p>Una de las ventajas de obtener sus programas de seguros a través de transmillas empresa de carga, es que no tiene que preocuparse por un estricto control de vencimientos. Nuestros asesores se contactarán con usted en un plazo mínimo de 30 días antes del vencimiento de su póliza y le indicarán el estudio efectuado a su programa, las diferentes cotizaciones obtenidas y las ventajas más convenientes en cuanto a economía, coberturas y servicios adicionales.</p>
                      <p>Los pasos para el proceso de renovación a través de la nuestro servicio de intermediación son:</p>
                      <p>
                        <li>Revisión de términos.</li>
<li>Reinspecciones de los riesgos a asegurar (en caso de ser necesario)</li>
<li>Revisión, modificación y aprobación del análisis de riesgos</li>
<li>Revisión de los valores asegurados</li>
<li>Revisión y análisis de las propuestas de seguros</li>
<li>Selección de la mejor oferta</li>
<li>Solicitudes de amparo</li>
<li>Revisión de documentos de renovación</li>
</p>
<p>Las prórrogas, normalmente se establecen en pólizas de cumplimiento cuando el contrato bajo el cual ya se obtuvo una póliza, sufre una modificación por ampliación de tiempo, términos o vigencia.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading3" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse3" aria-controls="accordion1Collapse3">¿Qué debo hacer si deseo cancelar mi póliza o programa de seguro?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse3" role="tabpanel" aria-labelledby="accordion1Heading3">
                    <div class="card-body">
                      <p>En caso tal que desee cancelar su programa de seguros, lo más recomendable es avisar a su asesor técnico una vez esté seguro de su decisión. Los requisitos indispensables para tal efecto son:</p>
                      <p>
                        <li>Carta firmada por el tomador de la póliza dirigida a transmillas empresa de carga, solicitando la cancelación o la no renovación de la póliza o programa, especificando las razones por las cuales toma esta decisión.</li>
                        <li>Si la póliza tiene beneficiario oneroso, esta comunicación la debe emitir la entidad financiera o leasing que tenga el endoso.</li>
                        <li>Dependiendo de la compañía aseguradora existe algo llamado “tiempo corrido” o “tiempo de cobertura” que significa que dependiendo del tiempo que lleve expedida la póliza, la compañía aseguradora puede efectuar la devolución de la proporción de tiempo de cobertura o exigir el pago de dicha proporción, en caso de que no se haya pagado en su totalidad por parte del tomador.</li>
                      </p>
                    </div>
                  </div>

                </article>
                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading4" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse4" aria-controls="accordion1Collapse4">¿Que debo hacer en caso de siniestro?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse4" role="tabpanel" aria-labelledby="accordion1Heading4">
                    <div class="card-body">
                      <p>Detalle en siguiente <a href="tablas.pdf" target=”_blank”>"link"</a>.</p>
                      
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>



       <!-- Accordion-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-12">
              <h1>Autos</h1>
              <!-- Bootstrap collapse-->
              <div class="card-group-custom card-group-corporate" id="accordion2" role="tablist" aria-multiselectable="false">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading5" role="tab">
                    <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse5" aria-controls="accordion1Collapse5" aria-expanded="true">Si decido tomar el seguro, ¿A partir de qué momento quedo protegido?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse show" id="accordion1Collapse5" role="tabpanel" aria-labelledby="accordion1Heading5">
                    <div class="card-body">
                      <p>La protección de su vehículo empieza a las 24 horas del día de pago, puesto que la iniciación del seguro está condicionada al pago del mismo.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading6" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse6" aria-controls="accordion1Collapse6">¿Para qué me sirve adquirir un seguro de autos?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse6" role="tabpanel" aria-labelledby="accordion1Heading6">
                    <div class="card-body">
                      <p>Al adquirir la póliza Vehículos la aseguradora cubre los gastos económicos ocasionados por los daños fortuitos o hurto que sufra su vehículo y/o que cause a otros.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading7" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse7" aria-controls="accordion1Collapse7">¿Si adquiero la póliza y por alguna razón fallezco en un accidente, a quién le pagan?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse7" role="tabpanel" aria-labelledby="accordion1Heading7">
                    <div class="card-body">
                      <p>Al tomar la póliza usted es el asegurado, en caso de fallecimiento el monto de la indemnización se entregaría a los herederos del asegurado que se determinen en un juicio de sucesión.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading8" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse8" aria-controls="accordion1Collapse8">¿En qué casos me ofrece ayuda el amparo de Asistencia al vehículo?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse8" role="tabpanel" aria-labelledby="accordion1Heading8">
                    <div class="card-body">
                      <p>Los servicios de Asistencia ofrecen ayuda en caso de varada, choque con lesiones o sin lesiones personales, choque con fallecimiento y hurto total o parcial.  Para esto, usted puede disponer de servicios de grúa, ambulancia, hotel, asistencia jurídica preliminar, transmisión de mensajes urgentes, trámite y traslado funerario, depósito y custodia del vehículo recuperado y un seguro para los ocupantes en caso de suceder muerte accidental.</p>
                    </div>
                  </div>
                </article>

                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading9" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse9" aria-controls="accordion1Collapse9">¿El servicio de asistencia al vehículo me cubre en caso de que me pase de tragos?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse9" role="tabpanel" aria-labelledby="accordion1Heading9">
                    <div class="card-body">
                      <p>El servicio de asistencia al vehículo le cubro el servicio de Conductor Profesional, en caso de enfermedad, accidente o fallecimiento del conductor del vehículo. Si desea puede usar el servicio de Conductor Elegido en caso de asistir a una reunión o evento tiene que programarlo mínimo con 6 horas de antelación.</p>
                    </div>
                  </div>
                </article>

                  <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading10" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse10" aria-controls="accordion1Collapse10">Si me estrello y voy por carretera ¿Qué puedo hacer?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse10" role="tabpanel" aria-labelledby="accordion1Heading10">
                    <div class="card-body">
                      <p>Tiene que comunicarse con la línea de atención de la aseguradora donde tienen el vehículo amparado y la aseguradora le suministrará los servicios de grúa, asistencia jurídica, transporte fúnebre, hotel, mensajes urgentes, transporte en viaje y ambulancia desde cualquier parte del país y a cualquier hora del día.</p>
                    </div>
                  </div>
                </article>

                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading11" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse11" aria-controls="accordion1Collapse11">¿Qué me cubre su compañía si aseguro mi vehículo con ustedes?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse11" role="tabpanel" aria-labelledby="accordion1Heading11">
                    <div class="card-body">
                      <p>Perdidas Total y parciales a consecuencia de Daños, Hurto, Terremoto, Responsabilidad Civil por daños o Lesiones a terceros, Asistencia</p>
                    </div>
                  </div>
                </article>

                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading12" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse12" aria-controls="accordion1Collapse12">¿Qué obligaciones tengo al tomar la póliza?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse12" role="tabpanel" aria-labelledby="accordion1Heading12">
                    <div class="card-body">
                      <p>Efectuar el pago de la prima, informar cualquier modificación que se haga al vehículo y en caso de reclamación avisar a la compañía durante los 3 días siguientes al evento.</p>
                    </div>
                  </div>
                </article>

                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading13" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse13" aria-controls="accordion1Collapse13">Tengo la obligación de pagar la prima para estar protegido,¿Qué obligaciones tendría conmigo?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse13" role="tabpanel" aria-labelledby="accordion1Heading13">
                    <div class="card-body">
                      <p>La obligación condicional de la aseguradora, es pagar la indemnización en los términos y por los valores fijados en el contrato de acuerdo con el valor comercial del vehículo en el momento del siniestro.</p>
                    </div>
                  </div>
                </article>


                 <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading14" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion1Collapse14" aria-controls="accordion1Collapse14">Decidí asegurarme con ustedes ¿Ahora qué debo hacer?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse14" role="tabpanel" aria-labelledby="accordion1Heading14">
                    <div class="card-body">
                      <p>Realizar la inspección a su vehículo, diligenciar la solicitud de seguro y la Declaración de Asegurabilidad.  Es importante tener el SOAT, la tarjeta de propiedad y la cédula de ciudadanía.</p>
                    </div>
                  </div>
                </article>
               
              </div>
            </div>
          </div>
        </div>
      </section>




       <!-- Accordion-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-12">
              <h1>Hogar</h1>
              <!-- Bootstrap collapse-->
              <div class="card-group-custom card-group-corporate" id="accordion3" role="tablist" aria-multiselectable="false">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading15" role="tab">
                    <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion1Collapse15" aria-controls="accordion1Collapse15" aria-expanded="true">¿Qué servicios puedo adquirir con la Póliza de Hogar?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse show" id="accordion1Collapse15" role="tabpanel" aria-labelledby="accordion1Heading15">
                    <div class="card-body">
                      <p>El servicio de la póliza se extiende para darle cobertura de gastos médicos al servicio doméstico, y si esta persona, algún miembro de su hogar o su mascota ocasiona daños personales o materiales a terceras personas, la Aseguradora indemnizará al afectado.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading16" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion1Collapse16" aria-controls="accordion1Collapse16">¿En qué consiste la póliza de Hogar?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse16" role="tabpanel" aria-labelledby="accordion1Heading16">
                    <div class="card-body">
                      <p>La póliza de Hogar es el producto que le brinda diferentes coberturas para su vivienda, protegiendo de manera integral la estructura física del inmueble, sus muebles, electrodomésticos y áreas comunes que rodean la vivienda.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading17" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#accordion1Collapse17" aria-controls="accordion1Collapse17">Los servicios de la póliza de hogar se prestan para cualquier persona
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse17" role="tabpanel" aria-labelledby="accordion1Heading17">
                    <div class="card-body">
                      <p>No, únicamente para el asegurado y su grupo familiar, incluye la empleada del servicio doméstico.</p>
                    </div>
                  </div>
                </article>
               
              </div>
            </div>
          </div>
        </div>
      </section>


         <!-- Accordion-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-12">
              <h1>Vida</h1>
              <!-- Bootstrap collapse-->
              <div class="card-group-custom card-group-corporate" id="accordion4" role="tablist" aria-multiselectable="false">
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading18" role="tab">
                    <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse18" aria-controls="accordion1Collapse18" aria-expanded="true">¿Qué coberturas me ofrecen estas pólizas?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse show" id="accordion1Collapse18" role="tabpanel" aria-labelledby="accordion1Heading18">
                    <div class="card-body">
                      <p>Vida básica (muerte por cualquier causa) - Accidentes personales Enfermedades Graves e invalidez Exoneración de pago de primas Enfermedades Graves como suma adicional al amparo básico - Incapacidad Total y Permanente</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading19" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse19" aria-controls="accordion1Collapse19">¿En qué momento puedo cambiar los beneficiarios de la póliza Vida Individual?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse19" role="tabpanel" aria-labelledby="accordion1Heading19">
                    <div class="card-body">
                      <p>Durante cualquier momento de la vigencia del programa, lo importante es que se aclaren los porcentajes correspondientes en los beneficiarios. Esta solicitud se realiza mediante una comunicación escrita radicada a través de cualquiera de nuestras oficinas.</p>
                    </div>
                  </div>
                </article>
                <!-- Bootstrap card-->
                <!-- Bootstrap card-->
                <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading20" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse20" aria-controls="accordion1Collapse20">¿Cuáles son los valores asegurados máximos y mínimos en las pólizas de Vida Individual?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse20" role="tabpanel" aria-labelledby="accordion1Heading20">
                    <div class="card-body">
                      <p>El valor mínimo es de 30 millones, no hay tope máximo estipulado, sí el monto es muy alto entra a estudio para su aprobación.</p>
                    </div>
                  </div>
                </article>

                   <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading21" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse21" aria-controls="accordion1Collapse21">Si requiero una certificación de la póliza, ¿Qué debo hacer?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse21" role="tabpanel" aria-labelledby="accordion1Heading21">
                    <div class="card-body">
                      <p>En nuestras oficinas con una comunicación por escrito podrá solicitar cualquier tipo de certificación relacionada con su Programa de Seguro de Vida.</p>
                    </div>
                  </div>
                </article>

                   <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading22" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse22" aria-controls="accordion1Collapse22">¿Qué debo hacer para aumentar o disminuir el valor asegurado en la póliza, Vida Individual?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse22" role="tabpanel" aria-labelledby="accordion1Heading22">
                    <div class="card-body">
                      <p>Este cambio lo puede realizar en cualquier momento de la vigencia del programa a través de su asesor técnico,  entre los dos diligenciarán los documentos necesarios para solicitar el servicio.</p>
                    </div>
                  </div>
                </article>


                   <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading23" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse23" aria-controls="accordion1Collapse23">¿Quiero cambiar la periodicidad de pago en la póliza, qué debo hacer?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse23" role="tabpanel" aria-labelledby="accordion1Heading23">
                    <div class="card-body">
                      <p>Este cambio lo puede solicitar con 1 mes de anticipación a la renovación de la póliza, a través de nuestras oficinas o de su asesor técnico.</p>
                    </div>
                  </div>
                </article>


                   <article class="card card-custom card-corporate">
                  <div class="card-header" id="accordion1Heading24" role="tab">
                    <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#accordion1Collapse24" aria-controls="accordion1Collapse24">¿Qué beneficios adicionales me ofrecen en la póliza, Vida Individual?
                        <div class="card-arrow"></div></a>
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse24" role="tabpanel" aria-labelledby="accordion1Heading24">
                    <div class="card-body">
                      <p>Opción de ahorro dentro de la póliza,  Rendimientos financieros en el fondo de ahorro, Asistencia Exequial ,  Seguro de vida con crecimiento de valor asegurado de acuerdo con el IPC,  Seguro en pesos o dólares,  Pólizas conjuntas.</p>
                    </div>
                  </div>
                </article>
               
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>