<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>[TITULO]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Historia</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li class="active">Historia</li>
          </ul>
        </div>
      </section>
      <!-- Overview-->
      <section class="section section-lg">
        <div class="container">
          <ul class="list-xxl-2">
            <li class="row row-30 flex-row-reverse justify-content-around justify-content-xl-between">
              <div class="col-md-6 col-lg-5 col-xl-6"><img src="images/single-project-1-670x440.jpg" alt="" width="670" height="440"/>
              </div>
              <div class="col-md-6 col-lg-5 col-xl-5">
                <div class="text-block-4">
                  <h2>Historia</h2>
                  <h6>Durante más de 30 años en transmillas empresa de carga nos hemos enfocado en la satisfacción de las necesidades de aseguramiento de nuestros clientes. 
                  </h6>
                  <p>Nuestro portafolio de productos cubre todos los ámbitos de riesgo, trabajamos con todas las compañías aseguradoras constituidas en Colombia y un adecuado estudio técnico de riesgo para nuestros clientes previo a la emisión de las pólizas 
                  </p>
                   
                </div>
              </div>
            </li>
            <li class="row row-30 justify-content-around justify-content-xl-between">
              <div class="col-md-6 col-lg-5 col-xl-7"><img class="img-bordered" src="images/single-project-2-640x440.jpg" alt="" width="640" height="440"/>
              </div>
              <div class="col-md-6 col-lg-5 col-xl-5">
                <p>Cubrimos los riesgos del patrimonio familiar con gran variedad de productos en el sector asegurador como Todo Riesgo Construcción, Transporte de Mercancías, Transporte de Valores, Automóviles, Multirriesgo (Incendio, Sustracción, Terremoto, Equipo Electrónico, Montaje y Rotura de Maquinaria), Seguro de Floricultores, Seguro Integral del Hogar, Todo Riesgo Contratista, Navegación, Póliza De Obras Civiles Terminada, Aeronaves, Cancelación de Viaje, Todo Riesgo y Maquinaria Contratistas, Lucro Cesante, Cumplimiento, Manejo, Pólizas Judiciales, Responsabilidad Civil e Infidelidad y Riesgos Financieros.
                  </p>
              </div>
            </li>


<section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-offset-3">
            <div class="col-lg-5 col-xxl-12">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-vertical tabs-line" id="tabs-2">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-2-1" data-toggle="tab">Misión</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-2-2" data-toggle="tab">Visión</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link " href="#tabs-2-3" data-toggle="tab">Compromisos</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade active show" id="tabs-2-1">
                    <ul class="contact-box">
                      <li>
                        transmillas empresa de carga ofrece servicios con el respaldo de sólidas aseguradoras para cubrir las necesidades de protección de las personas y de sus patrimonios. Presta asesoría profesional y personalizada para la contratación de los mismos y el trámite de siniestros. Para ello cuenta con un equipo humano idóneo y comprometido, pensando siempre en beneficio del cliente, las aseguradoras, los colaboradores y los accionistas.
                        </li>

                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tabs-2-2">
                    <ul class="contact-box">
                      <li>- Asesorar en forma integral a los clientes para cubrir sus necesidades en lo concerniente a los servicios de seguros.</li>
                      <li>- Diseñar estrategias que minimice el riesgo operativo.</li>
                      <li>- Construir relaciones basadas en la ética, la transparencia y la confianza.</li>
                      <li>- Nuestro compromiso humano y empresarial de responsabilidad social.</li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tabs-2-3">
                    <ul class="contact-box">
                    <li>- Asesoría integral para la evaluación de riesgos y coberturas
                    <li>- Respaldo de sólidas aseguradoras
                    <li>- Condiciones competitivas de propuestas de seguros
                    <li>- Manejo de indemnizaciones ante las aseguradoras
                    <li>- Planes de conservación y mantenimiento.
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


            <li class="row row-30 justify-content-center">
              <div class="col-md-10 col-xl-8 text-center">
                <blockquote class="quote quote-default">
                  <div class="quote-icon mdi mdi-format-quote"></div>
                  <div class="quote-body">
                    <q class="heading-6">Hacemos parte del grupo empresarial AVIATUR que se ha caracterizado por su filosofía de servicio y compromiso con el cliente.</q>
                  </div>
                  <div class="quote-meta">
                    <div class="author">
                      <cite>Rodrigo Galvis Lopez</cite>
                    </div>
                    <div class="position">Gerente</div>
                  </div>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section><img class="img-responsive" src="images/single-project-4-1920x872.jpg" alt="" width="1920" height="872"/>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>