<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>[TITULO]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Política de Privacidad</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.php">Home</a></li>
            <li><a href="#">Información General</a></li>
            <li class="active">Política de Privacidad</li>
          </ul>
        </div>
      </section>
      <!-- Privacy Policy-->
      <section class="section section-md bg-default">
        <div class="container">
          <h2>Política de Privacidad</h2>
          <!-- Terms list-->
          <dl class="list-terms">
            <dt class="heading-6"></dt>
            <dd>Su privacidad y confianza son muy importantes para nosotros. Por ello, queremos asegurarnos que conozca cómo salvaguardamos la integridad, confidencialidad y disponibilidad de sus datos personales, en cumplimiento de la legislación colombiana.</dd>
            <dt class="heading-6"></dt>
            <dd>Mantenemos sólidas relaciones comerciales con las aseguradoras y realizamos la gestión de los procesos para mejorarlos bajo el liderazgo del grupo directivo de la compañía.</dd>
           <dd> En aquello que no sea competente la legislación de protección de datos personales, se ajustará a lo dispuesto respecto al tratamiento de información personal.</dd>
           <dt class="heading-6"></dt>
           <dd>Para transmillas empresa de carga S.A. (en adelante "AVIA SEGUROS"), resulta necesaria la recopilación de ciertos datos personales y sensibles para llevar a cabo las actividades intrínsecas a su giro comercial.</dd>
           <dt class="heading-6"></dt>
           <dd>"AVIA SEGUROS": informa a continuación a los clientes de sus distintos servicios y/o productos (en adelante, los "USUARIOS") acerca de su política de protección de datos de carácter personal (en adelante, " Datos Personales").</dd>
           <dd>
            1) Los Datos Personales que nos proporcionará serán recolectados y su tratamiento manual y/o automatizado obedece a los siguientes fines:
<li>La sustentación de la relación contractual en su caso establecida con "AVIA SEGUROS".</li>
<li>La prestación de servicios relacionados con los productos y servicios ofrecidos. En los que el "USUARIO" decida suscribirse, darse de alta, consultar o adquirir.</li>
<li>La realización de todas las actividades relacionadas con el servicio y/o producto, se incluirá en una lista de correos electrónicos para el envío del boletín.</li>
<li>Comunicarle sobre modificaciones a  los servicios.</li>
<li>Procesamiento de sus solicitudes, administración de actividades, aclaraciones, investigación y estadísticas de mercado.</li>
<li>Mercadeo y venta de nuestros productos y servicios.</li>
<li>Notificarle sobre nuevos servicios o productos que tengan relación con los ya contratados o adquiridos.</li>
<li>La realización de cualquier actividad complementaria o auxiliar necesaria para la prestación de los Servicios.</li>
<li>Para el afinamiento de los filtros de seguridad y las reglas de Negocio en las transacciones comerciales.</li>
<li>Realizar evaluaciones periódicas de nuestros productos y servicios a efecto de mejorar la calidad de los mismos.</li>
<li>Evaluar la calidad del servicio que brindamos, y en general, para dar cumplimiento a las obligaciones que hemos contraído con usted.</li>
<li>El envío, por medios tradicionales y electrónicos, de información técnica, operativa y comercial acerca de productos y servicios ofrecidos por "AVIA SEGUROS" y/o sus asociados o proveedores, actualmente y en el futuro.</li>
<li>La solicitud de encuestas de satisfacción, que el "USUARIO" no queda obligado a contestar.
</li>
</dd>
<dt class="heading-6"></dt>
<dd>2) Es conveniente recordar que es un dato personal. Solo se consideran datos personales información vinculada o que pueda vincularse a personas físicas naturales. Quedando excluido de los mismos a todo tipo de persona jurídica.</dd>
<dd>3) Partimos del hecho que el "USUARIO" está legítimamente habilitado para suministrar, recibir y reenviar "Datos Personales". Para evitar cualquier indefensión, "AVIA SEGUROS" facilita al "USUARIO" la posibilidad de contestar sobre la misma plataforma la información remitida, de manera gratuita sin mediar relación contractual.</dd>
<dd>4) Si Usted nos suministra información personal sobre una persona distinta a usted, como su cónyuge o un compañero de trabajo, entendemos que Usted cuenta con la autorización de dicha persona para suministrarnos sus datos.
<li>No obstante si el "USUARIO" deseara realizar más gestiones con "AVIA SEGUROS", deberá registrarse en la plataforma, aceptando las condiciones establecidas para los "USUARIOS".</li>
<li>Con el objeto de facilitar al máximo el ejercicio de los derechos referentes a su privacidad o a defender lo que en mejor derecho proceda, en caso de ser datos sensibles o reservados y en el evento que la respuesta no sea posible por las vías ordinarias, "AVIA SEGUROS" proporcionará a los "USUARIOS" los recursos técnicos adecuados y el correo electrónico para que puedan contactarlo. Para esta acción pueden remitir comunicación identificando remitente y descripción del problema a: info@aviaseguros.com
Los usuarios registrados podrán revisar y modificar su Información Personal a través de: www.aviaseguros.com</li>
<li>Los "USUARIOS" tienen reconocidos sus derechos y podrán ejercerlos para acceso, cancelación, rectificación y oposición, contactando con "AVIA SEGUROS" a través del correo electrónico info@aviaseguros.com, acreditando debidamente su identidad de manera digital, con su cuenta de correo personal.</li>
<li>Respecto a términos y condiciones de uso específico de AVIA SEGUROS, pueden consultarlos en la siguiente dirección electrónica www.aviaseguros.com.</li>
<li>Si usted es un usuario registrado en el sitio web, podrá desactivar su cuenta en el sistema de AVIA SEGUROS, si no está registrado podrá enviarnos un e-mail a: info@aviaseguros.comEsta dirección de correo electrónico está protegida contra spambots. Usted necesita tener Javascript activado para poder verla..">.</li>
<li>Si Usted elige desactivar su cuenta, en la medida de lo permitido por la ley, conservaremos en nuestros archivos cierta Información personal sobre su persona, con el objeto de identificar contable y tributariamente los datos de las transacciones realizadas, prevenir el fraude, resolver disputas, investigar conflictos o incidencias, hacer cumplir nuestros términos y condiciones de uso y cumplir con requisitos legales.</li>
          <dt class="heading-6"></dt>
          <dd>5) "AVIA SEGUROS": Se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a buenas prácticas del sector del turismo y los demás sectores de la economía que hacen parte del grupo empresarial.</dd> 
          <dd>6) En dichos supuestos, "AVIA SEGUROS" anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.</dd> 
          <dd>7) Ciertos servicios y/o productos prestados en la página www.aviaseguros.com, y en cualquiera de sus portales y sus equivalentes, pueden contener condiciones particulares con previsiones específicas en materia de protección de Datos Personales.</dd> 
          <dd>8) Los Datos Personales recolectados serán objeto de tratamiento manual y/o automatizado e incorporados a los correspondientes ficheros o bases de datos (en adelante, el "Fichero") por "AVIA SEGUROS", en calidad de encargado del tratamiento y responsable de la protección de los datos.</dd> 
          <dd>9) Con este objeto, "AVIA SEGUROS" proporcionará a los "USUARIOS" los recursos técnicos adecuados para que, con carácter previo, puedan acceder a este aviso sobre la presente Política o a cualquier otra información relevante y puedan proporcionar su consentimiento a fin de que transmillas empresa de carga S.A. proceda con la recolección.</dd> 
          <dd>10) Algunos productos o transacciones requerirán del registro del usuario quien debe completar la información solicitada y necesaria para la transacción. El acceso del usuario a dichos sectores es libre y voluntario, no obstante la continuidad del proceso requiere del trámite de cada paso.</dd> 
          <dd>11) En la hipótesis de servicios dirigidos a menores de edad, en los que se produzca la recolección de Datos Personales, "AVIA SEGUROS" solicitará siempre la autorización expresa de los padres o del tutor para que los menores puedan acceder a sus Datos Personales y éstos puedan ser objeto del tratamiento manual y/o automatizado según lo previsto en este aviso sobre la presente política.</dd> 
          <dd>12) Habitualmente los servicios y/o productos prestados al "USUARIO" lo son en su condición de persona natural. Por ello, en la mayoría de los casos es necesario acreditar su identidad digital y capacidad de obrar conveniente y legalmente.</dd> 
          <dd>13) Algunas veces "AVIA SEGUROS" recibe información personal de nuestros socios comerciales. "AVIA SEGUROS" únicamente utiliza esta información si ha sido recolectada conforme a lo establecido a la Política de Protección de Datos y Tratamiento de la Información.</dd>
          <dd>14) Siempre le avisaremos antes de recolectar cualquier Información personal y le informaremos acerca de la finalidad de dicha recolección. Le solicitaremos su consentimiento antes de utilizar o comunicar sus datos, para cualquier finalidad distinta a la inicial. Por lo cual necesitaremos del consentimiento de su parte.</dd>
          <dd>15) Protección a los datos personales: "AVIA SEGUROS" ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados a "AVIA SEGUROS" no obstante, el "USUARIO" debe ser consciente de que las medidas de seguridad en Internet no son inquebrantables.</dd>
          <dd>16) Riesgos de Seguridad que debe tener en cuenta cuando realiza transacciones en Internet</dd>
          <dd>17) Dado que "AVIA SEGUROS" pertenece al grupo empresarial AVIATUR, su información personal puede ser compartida con las empresas del grupo, con las mismas finalidades que se han indicado para la recolección de los Datos Personales. Dichas entidades están obligadas a cumplir los acuerdos de confidencialidad y de transferencia correspondientes.</dd>
          <dd>18) Para mayor información, sobre las empresas que hacen parte del grupo empresarial Aviatur, la identidad, domicilios y formas de contacto puede consultarlo en la dirección electrónica www.grupoaviatur.com</dd>
          <dd>19) “AVIA SEGUROS" no cede los Datos Personales de sus "USUARIOS" a terceros, salvo que cuente con las autorizaciones debidas o que medie orden judicial. Cuando proceda esta circunstancia, por obligación legal o societaria, será debidamente advertida  y autorizada a los "USUARIOS" en los formularios de recolección de Datos Personales, junto con la identificación de la sociedad que los ceda y dicho tercero, el tipo de actividades a las que se dedica y la finalidad a que responde la cesión.</dd>
          <dd>20) En los casos donde "AVIA SEGUROS" tuviera que ceder los Datos Personales a terceros, cuyo domicilio en el extranjero. Por motivo de prestación de los servicios y/o productos. "AVIA SEGUROS" garantiza el mantenimiento de la confidencialidad y el tratamiento seguro de los Datos Personales en los movimientos internacionales que puedan producirse con motivo de estas cesiones.</dd>
          <dd>21) Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento. En caso contrario lo puede indicar a través del siguiente correo electrónico info@aviaseguros.com</dd>
          <dd>22) Uso de tecnología cookie u otras de rastreo: Al igual que otros sitios web, "AVIA SEGUROS" utiliza ciertas tecnologías, tales como cookies y device fingerprinting, que nos permiten hacer de su visita a nuestro sitios más fácil y eficiente, suministrándole un servicio personalizado y reconociéndole cuando usted vuelva a nuestro sitio. Para efectos del presente Aviso de Privacidad "cookies" se identificará como los archivos de texto de información que un sitio web trasfiere al disco duro de la computadora de los usuarios con el objeto de almacenar ciertos registros y preferencias.
            <li>Los sitios web pueden permitir publicidad o funciones de terceros que envíen "cookies" a las computadoras de los "USUARIOS".
              <li>Las cookies se asocian únicamente con un "USUARIO" anónimo y su ordenador, y no proporcionan por sí el nombre y apellidos del "USUARIO", en muchos casos, Usted podrá navegar por cualquiera de los sitios web de "AVIA SEGUROS" anónimamente. Cuando Usted accede a cualquier sitio web de "AVIA SEGUROS", se graba su dirección IP (la dirección de Internet de su ordenador), para que nos dé una idea de qué partes del sitio web visita y cuánto tiempo pasa en cada sección. No unimos su dirección IP a ninguna información personal suya, salvo que Usted se haya registrado con nosotros y haya entrado al sistema utilizando su perfil.
                <li>Por ello, es posible que en determinadas aplicaciones "AVIA SEGUROS" reconozca a los "USUARIOS" después de que éstos se hayan registrado por primera vez, sin que se tengan que registrar en cada visita para acceder a las áreas y servicios y/o productos reservados exclusivamente a ellos.
                  <li>En otros servicios será necesaria la utilización de determinadas claves de acceso, e incluso el uso de un certificado digital, en las características que se determinen.
                    <li>Las cookies utilizadas no pueden leer los archivos cookie creados por otros proveedores. "AVIA SEGUROS". cifra los datos identificativos del "USUARIO" para mayor seguridad.
                      <li>Para utilizar las web de "AVIA SEGUROS", no resulta necesario que el "USUARIO" permita la instalación de las cookies enviadas por "AVIA SEGUROS", sin perjuicio de que en tal caso será necesario que el "USUARIO" se registre como "USUARIO" de cada uno de los servicios cuya prestación requiera el previo registro

          </dd>
          
            <dt class="heading-6">Preguntas o Sugerencias</dt>
            <dd>
Si usted tiene alguna pregunta o consulta acerca del proceso de recolección, tratamiento o transferencia de su información personal, por favor envíenos un mensaje a la siguiente cuenta de correo electrónico:  
</dd>
<dd>
  info@aviaseguros.com</dd>

          </dl>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by kraken-->
  </body>
</html>