<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>[TITULO]</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon1.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        [MENU]
      </header>
      <!-- Breadcrumbs -->
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <h1>Compromisos y Servicios</h1>
          <ul class="breadcrumbs-custom">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Nuestros Compromisos y Servicios</li>
          </ul>
        </div>
      </section>
      <!-- Privacy Policy-->
      <section class="section section-md bg-default">
        <div class="container">
          <h2>Nuestros Compromisos</h2>
          <!-- Terms list-->
          <dl class="list-terms">
            <dt class="heading-6"></dt>
            <dd>
              <li>Atención personalizada</li>
              <li>Asesoría integral para la evaluación de riesgos y coberturas</li>
              <li>Respaldo de sólidas aseguradoras</li>
              <li>Condiciones competitivas de propuestas de seguros</li>
              <li>Manejo de indemnizaciones ante las aseguradoras</li>
              <li>Planes de conservación y mantenimiento. </li>
            </dd>
          </dl>

          <dl class="list-terms">
            <h2>Nuestros Servicios</h2>
            <dt class="heading-6">Brindamos una asesoría integral al cliente en cuanto a:</dt>
            <dd>
              <li>Inspección y evaluación de riesgos.</li>
              <li>Análisis comparativo de condiciones de mercado con diferentes compañías de seguros</li>
              <li>Asesoría integral al cliente para evaluar sus riesgos y las coberturas que necesita para minimizar el impacto económico.</li>
              <li>Capacitación a nuestros clientes en los diferentes ramos</li>
              <li>Manejo de indemnizaciones ante las aseguradoras</li>
              <li>Unidad especializada en seguros patrimoniales, seguros generales y seguros de personas.</li>
              <li>Auditoría técnica de seguros existentes.</li>
            </dd>
            <dt class="heading-6"></dt>
            <dd>Mantenemos sólidas relaciones comerciales con las aseguradoras y realizamos la gestión de los procesos para mejorarlos bajo el liderazgo del grupo directivo de la compañía.</dd>
           
          </dl>

           <dl class="list-terms">
            <h2>ANEXO DE SERVICIO</h2>
            <dt class="heading-6"></dt>
            <dd>
              En cumplimiento de la Circular Externa 050 de 2015 de la Superintendencia financiera de Colombia, transmillas empresa de carga advierte que toda la información contenida en este anexo en concordancia de los principios de transparencia de la Organización, también la pueden consultar en nuestra página Web www.aviaseguros.com en la sección “Clientes”.
            </dd>
            <dt class="heading-6"></dt>
            <dd></dd>
           
          </dl>

           <dl class="list-terms">
            <h2>DEFENSOR DEL CONSUMIDOR FINANCIERO</h2>
            <dt class="heading-6"></dt>
            <dd>
              transmillas empresa de carga en cumplimiento con la normatividad vigente en su página web www.aviaseguros.com en la sección “Clientes” indica de manera clara a los consumidores financieros la reglamentación y la forma en la que los usuarios de nuestros servicios, cuando lo estimen conveniente, presenten sus quejas al conocimiento del Defensor el cual podrán acceder por los siguientes medios:
            </dd>
            <dt class="heading-6"></dt>
                        <dd>
              Defensor Principal: Doctora Leonora Margarita Rossi Buenaventura Defensor Suplente: Doctora Maria Fernanda Zuluaga Martinez Línea de Atención Bogotá Tel.: 57 (1) 4764139 - 57 3505913940 Dirección: Transversal 56 No 106-41, Bogotá – Colombia. Correo Electrónico: ecfrossijuridicos@gmail.com
            </dd>
            <dd></dd>
           
          </dl>

          <dl class="list-terms">
            <h2>VINCULACIÓN COMO INTERMEDIARIO</h2>
            <dt class="heading-6"></dt>
            <dd>
              transmillas empresa de carga ha realizado acuerdos comerciales con las Compañías Aseguradoras Colombianas que se encuentren debidamente autorizadas por la Superintendencia Financiera de Colombia, con el fin de poder comercializar sus productos, dicha vinculación se soporta a través de un documento en el que se manifiesta la aceptación de los servicios ofrecidos.
            </dd>
            <dt class="heading-6"></dt>
                        <dd>
             
            </dd>
            <dd></dd>
           
          </dl>
             

             <dl class="list-terms">
            <h2>SINIESTROS</h2>
            <dt class="heading-6"></dt>
            <dd>
             transmillas empresa de carga, cuenta dentro de su página www.aviaseguros.com en su sección “Clientes”, Preguntas Frecuentes con el listado de documentos que se debe presentar según la póliza y el amparo afectado, sin embargo es importante recordar que el asegurado o beneficiario está en la obligación de dar noticia a transmillas empresa de carga o a la Compañía Aseguradora de la ocurrencia del siniestro, dentro de los tres días siguientes a la fecha en que lo haya conocido o debido conocer. Dicha notificación deberá realizarse mediante documento escrito donde se informe fecha, modo, lugar de la ocurrencia del siniestro y la cuantía de la pérdida.
            </dd>
            <dt class="heading-6"></dt>
             <dd>
             Avia presentará ante el asegurador la reclamación formal, este último podrá solicitar documentos adicionales y una vez presentados los mismos, este contará con un (1) mes para definir el siniestro.
            </dd>
            <dd>Los datos deberán ser dirigidos y enviados a la siguiente dirección:</dd>
            <dd>Dirección: Calle 20· 4-55 piso 3</dd>
            <dd>Rodrigo Galvis López – Gerente General</dd>
            <dd>Mail: Rodrigo.galvis@aviaseguros.com</dd>
            <dd>Teléfono:57 (1)5877120</dd>

           
          </dl>


           <dl class="list-terms">
            <h2>PETICIONES, QUEJAS, RECLAMOS O FELICITACIONES (PQRoF)</h2>
            <dt class="heading-6"></dt>
            <dd>
             transmillas empresa de carga dentro de los mecanismos de contacto para las personas que manifiesten interés de acercamiento podrán realizarlo por los siguientes canales: Página web, vía telefónica y mail,
            </dd>
            <dt class="heading-6"></dt>
             <dd>Dirección: Calle 20· 4-55 piso 3</dd>
             <dd>Mail: info@aviaseguros.com</dd>
             <dd>Página web : www.aviaseguros.com.</dd>
          </dl>

           <dl class="list-terms">
            <h2>PROTECCIÓN DE DATOS PERSONALES</h2>
            <dt class="heading-6"></dt>
            <dd>
             Con la aceptación de la presente oferta, se manifiesta de manera expresa la autorización para que transmillas empresa de carga conserve su información dentro de la base de datos de acuerdo con su política de tratamiento de datos la cual se encuentra publicada en la página web www.aviaseguros.com sección “clientes” “política de privacidad”.
            </dd>
            <dt class="heading-6">En caso de requerir información adicional podrá contactarse con:</dt>
             <dd>Dirección: Calle 20· 4-55 piso 3</dd>
             <dd>Mail: info@aviaseguros.com</dd>
             <dd>Mail: Rodrigo.galvis@aviaseguros.com</dd>
             <dd>Teléfono:57 (1)5877120</dd>
             <dd>Página web : www.aviaseguros.com</dd>
          </dl>

        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-2">
        [FOOTER]
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by kraken-->
  </body>
</html>